<!-- ######## This is a comment, visible only in the source editor  ######## -->
@{
    Layout = null;
}
<head>
     <link href="~/Contents/page.css" rel="stylesheet" type="text/css"/> 
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
</head>
<body>


    <div class="navbar">
        <div class="logo">
            <input class="center-image" type="image" src="~/images/Excellent Taste Logo.png" alt="Submit">
        </div>
        <div class="alterimagesize1">
            <input class="center-image" type="image" src="~/images/home-icon.png" alt="Submit">
        </div>
        <div class="alterimagesize2">
            <input class="center-image" type="image" src="~/images/arrow-back-icon.png" alt="Submit">
        </div>
    </div>


    <div class="foodanddrinkicon">
        <input class="center-image" type="image" src="~/images/clock inverted.png" alt="Submit">
        <input class="center-image" type="image" src="~/images/shopping cart inverted.png" alt="Submit">
    </div>

</body>