
@{
    Layout = null;
}

    <head>
        <link href="~/Contents/page.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
    </head>
    <body>


        <div class="navbar">
            <div class="logo">
                <input class="center-image" type="image" src="~/images/Excellent Taste Logo.png" alt="Submit">
            </div>
            <div class="alterimagesize1">
                <input class="center-image" type="image" src="~/images/home-icon.png" alt="Submit">
            </div>
            <div class="alterimagesize2">
                <input class="center-image" type="image" src="~/images/arrow-back-icon.png" alt="Submit">
            </div>
        </div>


        <div class="all-tables">
            <div class="group1">
                <div class="group1row1table1">
                    <input class="center-image" type="image" src="~/images/reserved square.png" alt="Submit">
                </div>
                <div class="group1row1table2">
                    <input class="center-image" type="image" src="~/images/baby square.png" alt="Submit">
                </div>
                <div class="group1row2table1">
                    <input class="center-image" type="image" src="~/images/empty square.png" alt="Submit">
                </div>
                <div class="group1row2table2">
                    <input class="center-image" type="image" src="~/images/empty square.png" alt="Submit">
                </div>
                <div class="group1row1table1">
                    <input class="center-image" type="image" src="~/images/reserved square.png" alt="Submit">
                </div>
            </div>
            <div class="group2">
                <div class="group2row1table1">
                    <input class="center-image" type="image" src="~/images/reserved square.png" alt="Submit">
                </div>
                <div class="group2row1table2">
                    <input class="center-image" type="image" src="~/images/reserved square.png" alt="Submit">
                </div>
                <div class="group2row2table1">
                    <input class="center-image" type="image" src="~/images/reserved square.png" alt="Submit">
                </div>
                <div class="group2row2table2">
                    <input class="center-image" type="image" src="~/images/reserved square.png" alt="Submit">
                </div>
            </div>
            <div class="group3">
                <div class="group3row1table1">
                    <input class="center-image" type="image" src="~/images/empty square.png" alt="Submit">
                </div>
                <div class="group3row1table2">
                    <input class="center-image" type="image" src="~/images/empty square.png" alt="Submit">
                </div>
                <div class="group3row2table1">
                    <input class="center-image" type="image" src="~/images/empty square.png" alt="Submit">
                </div>
                <div class="group3row2table2">
                    <input class="center-image" type="image" src="~/images/empty square.png" alt="Submit">
                </div>
            </div>
            <div class="group4">
                <div class="group4row1table1">
                    <input class="center-image" type="image" src="~/images/empty square.png" alt="Submit">
                </div>
                <div class="group4row1table2">
                    <input class="center-image" type="image" src="~/images/empty square.png" alt="Submit">
                </div>
                <div class="group4row2table1">
                    <input class="center-image" type="image" src="~/images/empty square.png" alt="Submit">
                </div>
                <div class="group4row2table2">
                    <input class="center-image" type="image" src="~/images/empty square.png" alt="Submit">
                </div>
            </div>
            <div class="group5">
                <div class="group5row1table1">
                    <input class="center-image" type="image" src="~/images/empty square.png" alt="Submit">
                </div>
                <div class="group5row1table2">
                    <input class="center-image" type="image" src="~/images/empty square.png" alt="Submit">
                </div>
                <div class="group5row2table1">
                    <input class="center-image" type="image" src="~/images/empty square.png" alt="Submit">
                </div>
                <div class="group5row2table2">
                    <input class="center-image" type="image" src="~/images/empty square.png" alt="Submit">
                </div>
            </div>
        </div>

        <div class="TextCustomer">
            Maak een keuze uit de lege tafels.
        </div>

      <div class="allgroups">
            <div class="selectgroup1">
                <input class="center-image" type="image" src="~/images/Groep Selecteren.png" alt="Submit">
            </div>
            <div class="selectgroup2">
                <input class="center-image" type="image" src="~/images/Groep Selecteren.png" alt="Submit">
            </div>
            <div class="selectgroup3">
                <input class="center-image" type="image" src="~/images/Groep Selecteren.png" alt="Submit">
            </div>
            <div class="selectgroup4">
                <input class="center-image" type="image" src="~/images/Groep Selecteren.png" alt="Submit">
            </div>
            <div class="selectgroup5">
                <input class="center-image" type="image" src="~/images/Groep Selecteren.png" alt="Submit">
            </div>
        </div>
    
    </body>