@model System.Web.Mvc.HandleErrorInfo
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Error</title>
    </head>
    <body>
        <hgroup>
            <h1 class="text-danger">Error.@Model.Exception.Message</h1>

            <h2 class="text-danger">Er is een fout opgetreden bij het verwerken van uw verzoek.</h2>

        </hgroup>

        @Html.ActionLink("terug", @Model.ActionName, @Model.ControllerName)
    </body>
</html>
